.AuthBar {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #ECECEC;
}

.AuthBar-error {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
}

.AuthBar-button {
    flex: 0 0 auto;
}

.AuthBar-authenticated {
    display: flex;
    align-items: center;
}

.AuthBar-avatar {
    margin-right: 10px;
}

.AuthBar-name {
    margin-right: 20px;
}
